GOOGLE_OAUTH_WEB_CLIENT_ID=local-dummy-client-id
GOOGLE_OAUTH_IOS_CLIENT_ID=local-dummy-ios-client-id
AUTH_SMS_LOCAL_FIXED_OTP=123456
AUTH_PHONE_KEY_HMAC_SECRET_BASE64=
AUTH_JWT_PRIVATE_KEY_BASE64=
AUTH_JWT_PUBLIC_KEY_BASE64=
IMAGE_BUCKET=
IMAGE_KEY_PREFIX=
IMAGE_BASE_URL=
IMAGE_REGION=
